version: "3.3"
services:
  redis:
    image: redis:alpine
    command: redis-server --requirepass $REDIS_PASSWORD
    ports:
      - "6380:6379"
  db:
    image: postgres:12.2
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    env_file:
      - ./.db_env
  backend:
    build: ./backend
    ports:
      - "8001:80"
    env_file:
      - ./.what_to_code_env
    depends_on:
      - redis
      - db
  frontend:
    build: ./frontend
    ports:
      - "80:3000"
    env_file:
      - ./.what_to_code_env
    depends_on:
      - redis
      - db
volumes:
  db-data:
