[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
uvicorn = "*"
redis = "*"

[requires]
python_version = "3.8"

[scripts]
createmigrations = "pipenv run alembic revision --autogenerate"
migrate = "pipenv run alembic upgrade head"
dev = "pipenv run uvicorn main:app --reload --proxy-headers"
prod = "pipenv run uvicorn main:app --proxy-headers --host 0.0.0.0 --port 80"
