[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
redis = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"

[requires]
python_version = "3.10"

[scripts]
createmigrations = "pipenv run alembic revision --autogenerate"
migrate = "pipenv run alembic upgrade head"
dev = "pipenv run uvicorn main:app --reload --proxy-headers"
prod = "pipenv run uvicorn main:app --proxy-headers --host 0.0.0.0 --port 80"
db = "docker run --rm --name=what-to-code-db -e POSTGRES_DB=what_to_code -e POSTGRES_HOST_AUTH_METHOD=trust -e POSTGRES_USER=what_to_code -p 5432:5432 postgres"
